/* BLOG CARD BLOCK END */
section.blog-card-block {

    .section-title {
        margin-bottom: 50px;
    }

    ul.search-tag {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        row-gap: 20px;
        padding-left: 0;
        margin-bottom: 30px;

        li {
            &::before {
                display: none;
            }

            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 6px 17px;
                border-radius: 100px;
                $border: 1px;
                background: white;
                background-clip: padding-box;
                border: solid $border transparent;
                text-align: center;
                transition: all 0.3s ease-in-out;

                &:before {
                    content: '';
                    position: absolute;
                    top: 1px;
                    right: 1px;
                    bottom: 1px;
                    left: 1px;
                    z-index: -1;
                    margin: -$border;
                    /* !importanté */
                    border-radius: inherit;
                    background: var(--New_Gradient, linear-gradient(90deg, #158ECE 0%, #19E3E3 100%));
                }

                span {
                    text-align: center;
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-family: var(--heading-font);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    background: var(--New_Gradient, linear-gradient(90deg, #158ECE 0%, #19E3E3 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    position: relative;
                    z-index: 11;
                }

                &:hover,
                &.active {
                    background: var(--New_Gradient);
                    border: 1px solid white;

                    span {
                        background: var(--white);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        position: relative;
                        z-index: 11;
                    }

                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    .subtitle {
        color: var(--Brandcolor_Black);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: -0.26px;
        margin-bottom: 30px;
        opacity: 0.8;
    }

    .col-lg-4.col-md-6 {
        margin-bottom: 10px;
        height: auto;
    }

    .single-blog-card {
        height: 100%;

        .title {
            font-weight: 400;
            margin-top: 14px;
        }

        .text,
        p {
            opacity: 0.8;
        }
    }

    .view-more-button {
        text-align: center;
        margin-top: 50px;
    }

    .mobile-version {
        display: none;
    }
}

/* BLOG CARD BLOCK END */

/* ELECTRIC MOBILITY SECTION START */
section.product-with-bgImg {
    .section-title-with-bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 80px;
        border-radius: 40px;
        padding-bottom: 100px;
        height: 480px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            border-radius: 40px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 12.08%, rgba(0, 0, 0, 0.00) 130.28%);
        }

        .section-title {
            max-width: 820px;
            margin: 0 auto 40px;
            position: relative;
            z-index: 11;
        }
    }

    .swiper {
        margin-top: -195px;
        padding-bottom: 10px;
    }

    .swiper-slider-btns {
        margin-top: 40px;
    }

    .view-more-button {
        margin-top: 40px;
    }

    &.loja-product-with-bgImg {
        .single-product-card .content .title {
            text-align: center;
            display: block;
        }
    }
}

/* ELECTRIC MOBILITY SECTION END */

/* CHARGE WITH APP BLOCK START */
section.charge-withapp-block {
    padding: 50px 0 100px;

    .section-title {
        margin-bottom: 50px;
    }

    .text-wrap {
        max-width: 295px;
        margin-bottom: 60px;

        p {
            color: var(--Brandcolor_Black);
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -0.26px;
            margin-bottom: 20px;
        }

        .app-button {
            display: flex;
            align-items: flex-start;
            column-gap: 35px;
            padding-top: 10px;

            a {
                display: inline-block;
            }
        }

    }

    .view-more-button {
        margin-top: 60px;

        &.mobile-version {
            display: none;
        }
    }

    .single-price {
        position: relative;
        border-radius: 20px;
        background: linear-gradient(90deg, rgba(21, 142, 206, 0.10) 0%, rgba(25, 227, 227, 0.10) 100%);
        padding: 10px 20px 20px 20px;

        .title {
            font-size: 100px;
            font-style: normal;
            font-weight: 300;
            line-height: 120px;
            letter-spacing: -0.26px;
            background: var(--New_Gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            min-width: 230px;
        }

        .subtitle {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.26px;
            background: var(--New_Gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 0;
            margin-top: 10px;
        }

        .icon {
            position: absolute;
            right: 50px;
            bottom: 24px;
            border-radius: 100px;
            background: var(--white);
            box-shadow: -3px 3px 20px 0px rgba(25, 227, 227, 0.60);
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.icon-top {
            .icon {
                right: 45px;
                top: -55px;
            }
        }
    }

    .content-wrapper {
        position: relative;

        .side-slider {
            position: absolute;
            top: 0px;
            left: 42%;
            width: 58%;
            padding-top: 65px;
            overflow: hidden;

            .swiper {
                overflow: visible;
                margin-right: 10px;
            }

            .swiper-slider-btns {
                margin-top: 114px;
            }
        }
    }
}

/* CHARGE WITH APP BLOCK END */

/* SAVE FOR CHARGE BLOCK START */
section.save-for-charge-block {

    .wrapper {
        padding: 60px 0 115px 0;
        border-radius: 40px;
        background: var(--New_Gradient);
        box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.10);
        position: relative;
        z-index: 11;

        .section-title {
            p {
                max-width: 820px;
                margin: 20px auto 0;
            }
        }

        .single-recharge-card {
            border-radius: 30px;
            border: 1px solid rgba(255, 255, 255, 0.20);
            box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.15);
            padding: 25px 30px 25px 30px;
            position: relative;
            transition: all 0.3s ease-in-out;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
                transition: all 0.3s ease-in-out;
                border-radius: 30px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
                transition: all 0.3s ease-in-out;
                border-radius: 30px;
                visibility: hidden;
                opacity: 0;
            }

            h3 {
                color: var(--white);
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 140px;
                position: relative;
                z-index: 11;
            }

            .card-btn {
                display: inline-flex;
                width: 40px;
                height: 40px;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                background: var(--white);
                box-shadow: -3px 3px 20px 0px rgba(25, 227, 227, 0.60);
                transition: all 0.3s ease-in-out;
                position: relative;
                z-index: 11;

                span {
                    height: 10px;
                    line-height: 1px;
                }

                &:hover {
                    transform: rotate(45deg);
                }
            }

            .card-image {
                position: absolute;
                right: 30px;
                bottom: -35px;
                transition: all 0.3s ease-in-out;
                z-index: 11;

                img {
                    border-radius: 20px;
                    max-width: 340px;
                    // max-height: 210px;
                    box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.10);
                }
            }

            &:hover {
                &::before {
                    visibility: hidden;
                    opacity: 0;
                }

                &::after {
                    visibility: visible;
                    opacity: 1;
                }

                .card-image {
                    bottom: -65px;
                }
            }
        }
    }

    &.white_bg {
        padding: 50px 0 85px;

        .wrapper {
            padding: 0;
            border-radius: 0;
            background: none;
            box-shadow: none;

            .section-title {
                max-width: 650px;
                margin: 0 auto 40px;

                p,
                h2 {
                    color: var(----Brandcolor_Black);
                }
            }

            .single-recharge-card {
                border-radius: 30px;
                background: linear-gradient(90deg, rgba(21, 142, 206, 0.10) 0%, rgba(25, 227, 227, 0.10) 100%);
                box-shadow: none;

                h3 {
                    background: var(--New_Gradient);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: unset;
                }

                .card-btn {
                    background: var(--New_Gradient);
                    box-shadow: -3px 3px 20px 0px rgba(25, 227, 227, 0.60);
                }
            }

        }
    }
}

/* SAVE FOR CHARGE BLOCK END */

/* ACKGROUND IMAGE BLOCK START */
section.block-image {
    padding-top: 50px;
    padding-bottom: 50px;

    &.overlap-top {
        margin-top: -80px;
        position: relative;
        z-index: 1;
        padding-top: 0;
    }

    .bg-image {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        height: 705px;
    }

    .swiper {
        border-radius: 40px;

        .swiper-slide {
            text-align: center;
        }
    }

    .bg-image-slide {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 515px;
        border-radius: 40px;
    }

    .swiper-slider-btns {
        margin-top: 60px;
    }
}

/* ACKGROUND IMAGE BLOCK END */

/* NEWS BLOCK START */
section.news-block {
    .section-title {
        h2 {
            max-width: 600px;
            margin: auto;
        }
    }

    .single-blog-card {
        margin-bottom: 30px;
    }

    .mobile-version {
        display: none;

        .swiper {
            padding-bottom: 20px;
        }
    }

    .view-more-button {
        text-align: center;
        margin-top: 60px;
    }
}

/* NEWS BLOCK END */

/* ADVANTAGE BLOCK START */
section.advantage-block {

    .card-wrapper {
        row-gap: 20px;
    }

    .single-advantage-card {
        padding: 35px 25px;
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.10);
        height: 100%;
        text-align: center;

        .img {
            display: flex;
            width: 60px;
            height: 60px;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background: var(--New_Gradient);
            box-shadow: -3px 3px 20px 0px rgba(25, 227, 227, 0.60);
            margin: 0 auto 20px;
        }

        .title {
            text-align: center;
            font-feature-settings: 'liga' off, 'clig' off;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            background: var(--New_Gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            max-width: 160px;
            margin: 0 auto 8px;
        }

        .subtitle {
            color: var(--Brandcolor_Black);
            text-align: center;
            font-feature-settings: 'liga' off, 'clig' off;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -0.26px;
            max-width: 170px;
            margin: auto;
        }
    }

    .section-title-with-bg-logo {
        margin-left: 30px;
        position: relative;


        .bg-img {
            position: absolute;
            max-width: 340px;
            left: 0;
            top: 50%;
            transform: translateY(-55%);
            z-index: -1;

            img {
                height: 479px;
            }
        }
    }

    .mobile-version-card {
        display: none;
    }
}

/* ADVANTAGE BLOCK END */

/* TEXT BLOCK START */
section.text-block {
    .text-content {
        h2 {
            color: var(--Brandcolor_Black);
            font-size: 44px;
            font-style: normal;
            font-weight: 400;
            line-height: 52px;
            letter-spacing: -0.26px;
            margin-bottom: 20px;
        }

        p {
            color: var(--Brandcolor_Black);
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -0.26px;
            margin-bottom: 20px;
            opacity: 0.8;

            &:last-child {
                margin-bottom: 0;
            }

        }

        h3 {
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--Brandcolor_Black);
        }

        &.text-blue {
            h3 {
                background: var(--New_Gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &.text-center {
            text-align: center;

            h3 {
                text-align: center;
            }
        }
    }
}

/* TEXT BLOCK END */

/* EVOLUTION COLLAPSE BLOCK START */
section.evolution-collapse-block {
    position: relative;

    .block-wrapp {}

    .bg-image-wrapper {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        height: 100%;
        min-height: 770px;
        max-height: calc(100% - 120px);
        border-radius: 40px;
        position: absolute;
        top: 50px;
        left: 50%;
    }
}

.accordion-item {
    margin-bottom: 15px;
    border-radius: 20px;
    background: var(--white);
    box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.10);
    border: none;

    &:first-of-type {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .accordion-button {
        span {
            color: var(--Brandcolor_Black);
            font-feature-settings: 'liga' off, 'clig' off;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: -0.26px;
        }

        display: flex;
        align-items: center;
        background: transparent;
        padding: 16px 15px 18px 28px;
        border-top-left-radius: none;
        border-top-right-radius: none;

        &:focus {
            background-color: transparent;
            box-shadow: none;
        }

        &:not(.collapsed) {
            background-color: transparent;
            box-shadow: none;

            &::after {
                transform: rotate(0deg) !important;
            }
        }

        .logo {
            padding-right: 35px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 32px;
                right: 17px;
                right: 17px;
                top: 50%;
                background: var(--New_Gradient);
                opacity: 0.3;
                transform: translateY(-50%);
            }
        }

        &::after {
            background-image: url("/assets/images//accordion-arrow.svg");
            background-size: 22px;
            width: 22px;
            height: 22px;
            transform: rotate(-180deg);
        }

    }

    .accordion-body {
        padding: 0 16px 16px 30px;

        p {
            color: var(--Brandcolor_Black);
            font-feature-settings: 'liga' off, 'clig' off;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -0.26px;
            opacity: 0.8;
        }
    }

}

/* EVOLUTION COLLAPSE BLOCK END */


/* LOGO SLIDER BLOCK START START */
section.logo-slider-block {
    position: relative;

    &.with-bg-logo-shape {}

    .swiper-wrapper {
        align-items: center;

        // justify-content: space-between;
        .swiper-slide {
            width: fit-content !important;

            img {
                mix-blend-mode: multiply;
                mix-blend-mode: screen;
            }
        }
    }

    .swiper-slider-btns {
        margin-top: 60px;
        display: flex;
        align-items: center;
        column-gap: 50px;
    }

    .bg-shape-img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

/* LOGO SLIDER BLOCK START END */

/* CAREER BLOCK START */
section.career-block {
    .section-title {
        margin-bottom: 60px;
    }

    .items-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        column-gap: 80px;

        .single-item {
            max-width: 196px;
            text-align: center;

            .img {
                text-align: center;
                margin-bottom: 20px;
                position: relative;

                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                width: 50px;
                height: 50px;
                $border: 2px;
                background: white;
                background-clip: padding-box;
                border: solid $border transparent;
                text-align: center;
                transition: all 0.3s ease-in-out;

                &:before {
                    content: '';
                    position: absolute;
                    top: 1px;
                    right: 1px;
                    bottom: 1px;
                    left: 1px;
                    z-index: -1;
                    margin: -$border;
                    /* !importanté */
                    border-radius: inherit;
                    background: var(--New_Gradient);
                    opacity: 0.4;
                }




                // box-shadow: -3px 3px 20px 0px rgba(255, 255, 255, 0.25);
                // border-radius: 100px;
                // border: 0.5px solid #158ECE;
                // box-shadow: -3px 3px 20px 0px rgba(255, 255, 255, 0.25);
                // width: 50px;
                // height: 50px;
                // display: inline-flex;
                // align-items: center;
                // justify-content: center;

                img {
                    max-width: 11px;
                    height: 16px;
                }
            }

            .title {
                color: var(--Brandcolor_Black);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: -0.26px;
                margin-top: 0;
                opacity: 1;
            }

            .subtitle,
            p {
                color: var(--Brandcolor_Black);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: -0.26px;
                opacity: 0.8;
                margin-top: 8px;

                strong {
                    opacity: 1;
                    margin-top: 0px;
                }
            }
        }
    }

    .status-wrapper {
        padding-top: 60px;
        height: auto;
        row-gap: 30px;
    }

    .single-status {
        border-radius: 20px;
        display: flex;
        align-items: center;
        column-gap: 45px;
        padding: 16px;
        min-height: 130px;
        height: 100%;

        &.blue-bg {
            background: var(--New_Gradient);
            color: var(--white);

            .left {
                &::before {
                    background: var(--white);
                }

                h3 {
                    color: var(--white);
                }

                p {
                    color: var(--white);
                }
            }
        }

        &.white-bg {
            background: var(--white);
            box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.10);

            .left {
                h3 {
                    background: var(--New_Gradient);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                p {
                    background: var(--New_Gradient);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            p {
                background: var(--New_Gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .left {
            text-align: center;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                width: 0.5px;
                height: 100px;
                background: var(--New_Gradient);
                background: #158ECE;
                opacity: 0.3;
                right: -20px;
                top: 50%;
                transform: translateY(-50%);
            }

            h3 {
                white-space: nowrap;
                font-size: 44px;
                font-style: normal;
                font-weight: 400;
                line-height: 52px;
                letter-spacing: -0.26px;
            }

            p {
                font-family: var(--heading-font);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        p {
            color: #FFF;
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: Outfit;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -0.26px;
        }

    }
}

/* CAREER BLOCK END */


/* CAREER FORM START START */
section.career-form-block {
    .form-wrapper {
        border-radius: 60px;
        background: linear-gradient(90deg, rgba(21, 142, 206, 0.10) 0%, rgba(25, 227, 227, 0.10) 100%);
        padding: 80px 25px;

        .title {
            max-width: 600px;
            margin: 0 auto 40px;

            h2 {
                font-size: 44px;
                font-style: normal;
                font-weight: 400;
                line-height: 52px;
                letter-spacing: -0.26px;
                background: var(--New_Gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                color: var(--Brandcolor_Black);
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: -0.26px;
                opacity: 0.8;
                margin-top: 20px;
            }

            &.text-center {
                text-align: center;
            }
        }
    }
}

/* CAREER FORM START END */

/* FAQ BLOCK START */
section.faq-block-area {
    .title-part {
        position: relative;

        .bg-shape-img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translatey(-50%);
            z-index: -1;
        }
    }
}

.faq-collapse-area {
    .accordion-item {
        box-shadow: none;
        background: none;
        border-radius: 0px;
        margin-bottom: 0;

        .b-top {
            width: 100%;
            height: 0.5px;
            background: linear-gradient(90deg, rgba(21, 142, 206, 0.3) 0%, rgba(25, 227, 227, 0.3) 100%);
        }

        .b-bottom {
            width: 100%;
            height: 1px;
            background: linear-gradient(90deg, rgba(21, 142, 206, 0.3) 0%, rgba(25, 227, 227, 0.3) 100%);
            opacity: 0.7;
        }

        .accordion-button {
            padding: 5px 0px 7px 0px;

            .logo {
                padding-right: 27px;

                &::after {
                    display: none;
                }
            }

            span {
                font-family: var(--heading-font);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                max-width: calc(100% - 120px);
                display: block;
            }
        }

        &:first-of-type {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;

            .accordion-button {
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
        }

        .accordion-body {
            padding: 0 25px 16px 0px;
        }

        &.blue-bg-collapse {
            border-radius: 20px;
            background: var(--New_Gradient, linear-gradient(90deg, #158ECE 0%, #19E3E3 100%));
            box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.10);
            margin-bottom: 20px;
            padding: 20px 15px 15px 30px;

            .accordion-header {
                line-height: 1px;
            }

            .accordion-button {
                &::after {
                    background-image: url('../images/circle-arrow-white.svg');
                }

                .logo {
                    padding-right: 36px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 0.5px;
                        height: 32px;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 17px;
                        background: rgba(255, 255, 255, 0.3);
                    }
                }

                span {
                    color: var(--white);
                    opacity: 0.8;
                }
            }

            .accordion-body {
                padding-left: 6px;
                margin-top: 10px;

                p {
                    color: var(--white);
                }
            }

            .b-top,
            .b-bottom {
                display: none;
            }

            .b-bottom {
                display: none;
            }
        }

    }

    &.faq-page-collapse {
        .accordion-item {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 0.5px;
                left: 0;
                bottom: 0;
                background: linear-gradient(90deg, rgba(21, 142, 206, 0.3) 0%, rgba(25, 227, 227, 0.3) 100%);
                opacity: 0.7;
            }

            &:first-child {
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 0.5px;
                    left: 0;
                    top: 0;
                    background: linear-gradient(90deg, rgba(21, 142, 206, 0.3) 0%, rgba(25, 227, 227, 0.3) 100%);
                    opacity: 0.7;
                }

            }


            .accordion-button {
                padding: 15px 0px 15px 0px;
            }

            .accordion-body {
                padding: 0 25px 30px 38px;
            }
        }
    }
}

/* FAQ BLOCK END */

/*CTA BANNER BLOCK START*/
section.cta-banner-block {
    .block-wrapper {
        padding: 60px 25px;
        border-radius: 40px;
        background: var(--New_Gradient);
        box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.10);

        .content {
            text-align: center;

            h2 {
                color: var(--white);
                font-size: 44px;
                font-style: normal;
                font-weight: 400;
                line-height: 52px;
                letter-spacing: -0.26px;
                max-width: 600px;
                margin: 0 auto 20px;
            }

            p {
                color: var(--white);
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: -0.26px;
                opacity: 0.8;
            }

            .bttn-bx {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 35px;
                margin-top: 40px;
            }
        }
    }
}

/*CTA BANNER BLOCK END*/