a.button,
button.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 18px;
  width: auto;
  height: 43px;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: var(--heading-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  transition: all 0.3s ease-in;
  position: relative;
  padding: 9px 8px 8px 16px;
  border-radius: 100px;
  border: none;
  outline: none;
  text-decoration: none;

  .icon {
    display: flex;
    width: 27px;
    height: 27px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    svg {
      transition: all 0.3s ease-in-out;
    }
  }

  &.white {
    box-shadow: -2px 4px 20px 0px rgba(25, 227, 227, 0.2);
    background: var(--New_Gradient, linear-gradient(90deg, #158ECE 0%, #19E3E3 100%));

    &::after {
      position: absolute;
      content: "";
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      left: 1px;
      top: 1px;
      background: var(--white);

      border-radius: 100px;
      transition: all 0.3s ease-in-out;
    }

    .btn-text {
      background: var(--New_Gradient, linear-gradient(90deg, #158ECE 0%, #19E3E3 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      font-family: var(--heading-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      transition: all 0.3s ease-in;
      min-width: 116px;
      text-align: left;
      z-index: 11;
      position: relative;
    }

    .icon {
      border-radius: 100px;
      position: relative;
      z-index: 11;

      svg {
        position: relative;
        z-index: 111;
        transition: all 0.3s ease-in-out;

        path {
          transition: all 0.3s ease-in-out;
        }
      }

      &::before {
        position: absolute;
        content: "";
        width: calc(100% - 1.5px);
        height: calc(100% - 1.5px);
        border-radius: 100px;
        top: 0.5px;
        left: 0.5px;
        background-color: rgba(255, 255, 255, 1);
        background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2210%22 height%3D%2213%22 viewBox%3D%220 0 10 13%22 fill%3D%22none%22%3E%3Cpath d%3D%22M0.845182 7.27606L4.83526 0.80216C5.17022 0.258692 6.00779 0.496072 6.00779 1.13447V4.12492C6.00779 4.47471 6.29135 4.75827 6.64115 4.75827H8.616C9.11168 4.75827 9.41525 5.30197 9.15518 5.72394L5.1651 12.1978C4.83014 12.7413 3.99257 12.5039 3.99257 11.8655V8.87508C3.99257 8.52529 3.709 8.24173 3.35921 8.24173H1.38436C0.888674 8.24173 0.585106 7.69803 0.845182 7.27606Z%22 fill%3D%22url(%23paint0_linear_364_8444)%22/%3E%3Cdefs%3E%3ClinearGradient id%3D%22paint0_linear_364_8444%22 x1%3D%220.75%22 y1%3D%226.5%22 x2%3D%229.25036%22 y2%3D%226.5%22 gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop stop-color%3D%22%23158ECE%22/%3E%3Cstop offset%3D%221%22 stop-color%3D%22%2319E3E3%22/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
        transition: all 0.3s ease-in-out;
      }

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 100px;
        top: 0px;
        left: 0px;
        background: var(--New_Gradient);
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
      }
    }

    &:hover {

      .icon {
        background: var(--New_Gradient, linear-gradient(90deg, #158ECE 0%, #19E3E3 100%));


        &::before {
          background-color: rgba(255, 255, 255, 0);
          background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2210%22 height%3D%2213%22 viewBox%3D%220 0 10 13%22 fill%3D%22none%22%3E%3Cpath d%3D%22M0.845182 7.27606L4.83526 0.80216C5.17022 0.258692 6.00779 0.496072 6.00779 1.13447V4.12492C6.00779 4.47471 6.29135 4.75827 6.64115 4.75827H8.616C9.11168 4.75827 9.41525 5.30197 9.15518 5.72394L5.1651 12.1978C4.83014 12.7413 3.99257 12.5039 3.99257 11.8655V8.87508C3.99257 8.52529 3.709 8.24173 3.35921 8.24173H1.38436C0.888674 8.24173 0.585106 7.69803 0.845182 7.27606Z%22 fill%3D%22%23FFFFFF%22/%3E%3C/svg%3E');
        }

        svg {
          fill: var(--white) !important;

          path {
            fill: var(--white) !important;
          }
        }

      }
    }
  }

  &.blue {
    border-radius: 100px;
    background: var(--New_Gradient, linear-gradient(90deg, #158ECE 0%, #19E3E3 100%));

    .btn-text {
      color: var(--white);
      font-feature-settings: 'liga' off, 'clig' off;
      font-family: var(--heading-font);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      min-width: 116px;
      text-align: left;
    }

    .icon {
      border-radius: 100px;
      border: 0.5px solid rgba(255, 255, 255, 0.50);

      svg {
        path {
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &:hover {
      box-shadow: -3px 3px 20px 0px rgba(25, 227, 227, 0.60);

      .icon {
        background: var(--white);

        svg {

          path {
            fill: var(--Newcolor_Neon);
          }
        }
      }
    }
  }

}

.hero-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  width: auto;
  height: 50px;
  font-feature-settings: 'liga' off, 'clig' off;
  color: var(--Brandcolor_Black);
  font-family: var(--heading-font);
  background: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  transition: all 0.3s ease-in;
  position: relative;
  padding: 5px 20px 5px 5px;
  border-radius: 100px;
  border: none;
  outline: none;
  text-decoration: none;

  .btn-text {
    color: var(--Brandcolor_Black);
    font-family: var(--heading-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  .icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 20px rgba(25, 227, 227, 0.60);
    background: var(--New_Gradient);
    border-radius: 100%;
  }

  &:hover {
    box-shadow: -2px 4px 20px 0px rgba(25, 227, 227, 0.60);
  }
}