/* section title start */
.section-title {
    margin-bottom: 40px;

    h2 {
        color: var(--Brandcolor_Black);
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        line-height: 52px;
        letter-spacing: -0.26px;
        margin-bottom: 0;
    }

    p {
        color: var(--Brandcolor_Black);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: -0.26px;
        margin-top: 20px;
        opacity: 0.8;
    }

    &.white {
        h2 {
            color: var(--white);
        }

        p {
            color: var(--white);
            opacity: 0.8;
        }
    }

    &.text-center {
        text-align: center;

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
}

.section-padding {
    padding: 50px 0;
}



/* section title end */


/* SWIPER PAGINATION AND NEXT PREV BUTTON STYLES START */
.swiper-slider-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;

    .swiper-button-prev,
    .swiper-button-next {
        &::after {
            display: none;
        }

        position: relative;
        left: unset;
        right: unset;
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        text-align: center;
        transition: all 0.3s ease-in-out;
        z-index: unset;
        border: 1px solid transparent;
        margin-top: unset;

        svg {
            max-width: 14px;
            position: relative;
            z-index: 11;
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(21, 142, 206, 0.10) 0%, rgba(25, 227, 227, 0.10) 100%);
            transition: all 0.3s ease-in-out;
            visibility: hidden;
            opacity: 0;
            border-radius: 100%;
        }

        &:hover {
            &::before {
                visibility: visible;
                opacity: 1;

            }
        }

        &.swiper-button-lock {
            display: none;
        }
    }

    .swiper-button-prev {

        background: linear-gradient(white, white) padding-box,
            linear-gradient(270deg, rgba(22, 142, 206, 0.4) 0%, rgba(25, 227, 227, 0.4) 100%) border-box;

        &:hover {
            background: linear-gradient(white, white) padding-box,
                linear-gradient(270deg, #158ECE 0%, #19E3E3 100%) border-box;
        }
    }

    .swiper-button-next {
        background: linear-gradient(white, white) padding-box,
            linear-gradient(90deg, rgba(22, 142, 206, 0.5) 0%, rgba(25, 227, 227, 0.5) 100%) border-box;

        &:hover {
            background: linear-gradient(white, white) padding-box,
                linear-gradient(90deg, #158ECE 0%, #19E3E3 100%) border-box;
        }
    }

    .swiper-pagination {
        position: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 12px;
        width: auto;

        .swiper-pagination-bullet {
            background: var(--Brandcolor_Black);
            opacity: 0.2;
            width: 4px;
            height: 4px;
            margin: 0 6px;
            transition: all 0.3s ease-in-out;

            &.swiper-pagination-bullet-active {
                position: relative;
                opacity: 1;

                &::before {
                    position: absolute;
                    content: "";
                    width: 16px;
                    height: 16px;
                    border-radius: 16px;
                    border: 0.3px solid rgba(17, 17, 17, 0.2);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

/* SWIPER PAGINATION AND NEXT PREV BUTTON STYLES END */



/* TRANSPARENT BACKGROUND LOGO START */
.main {
    overflow: hidden;
    position: relative;

    .bg-logo {
        position: absolute;
        top: 34%;
        z-index: -1;
    }
}

/* TRANSPARENT BACKGROUND LOGO END */



/* FILTER STYLE START */
.filter-container {
    position: relative;
    display: inline-block;
    z-index: 11;
    min-width: 345px;
    margin-bottom: 120px;

    .filter-toggle {
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 100px;
        background: var(--white);
        box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.10);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/select-arrow.svg");
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            transition: all 0.3s ease-in-out;
            background-size: 9px 9px;
        }

        &.active {
            background: unset;
            box-shadow: none;

            &::before {
                transform: translateY(-50%) rotate(180deg);
            }
        }

        span {
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: var(--heading-font);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            background: var(--New_Gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .filter-menu {
        display: none;
        position: absolute;
        background: white;
        width: 100%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 60px 15px 40px 20px;
        border-radius: 20px;
        margin-top: -47px;
        z-index: -1;
    }

    .filter-items-wrapp {
        .filter-item {
            cursor: pointer;
            position: relative;
            padding: 15px 0;
            border-bottom: 1px solid rgba(21, 142, 206, 0.1);

            span {
                display: flex;
                align-items: center;
                column-gap: 10px;
                color: var(--Brandcolor_Black);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: -0.26px;
            }

            &::before {
                content: "";
                position: absolute;
                background-image: url("../images/select-arrow.svg");
                width: 16px;
                height: 16px;
                border-radius: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                top: 19px;
                transform: translateY(-50%);
                right: -5px;
                transition: all 0.3s ease-in-out;
                background-size: 9px 9px;
            }

            &.active {
                &::before {
                    transform: translateY(-50%) rotate(180deg);
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .sub-menu {
        display: none;
        min-width: 150px;
        margin-top: 15px;
        column-gap: 10px;

        .sub-menu-item {
            border-radius: 8px;
            border: .5px solid rgba(17, 17, 17, .1);
            padding: 7px 10px;
            display: inline-flex;
            align-items: center;
            column-gap: 8px;
            color: var(--Brandcolor_Black);
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 14px;
            letter-spacing: -0.26px;
            width: fit-content;

            &.active {
                color: var(--white);
                background: var(--Brandcolor_Blue);
            }
        }
    }

    .sub-menu.d-flex {
        column-gap: 10px;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .applied-filters-wrap {
        .title {
            display: flex;
            align-items: center;
            column-gap: 9px;
            margin-bottom: 15px;

            h5 {
                color: var(--Brandcolor_Black);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: -0.26px;
                margin: 0;
            }
        }

        .applied-filters {
            display: flex;
            flex-direction: column;


            .applied-filter {
                border-radius: 8px;
                border: 0.5px solid rgba(17, 17, 17, 0.10);
                padding: 7px 10px;
                margin-bottom: 8px;
                display: inline-flex;
                align-items: center;
                column-gap: 8px;
                color: var(--Brandcolor_Black);
                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: 14px;
                letter-spacing: -0.26px;
                width: fit-content;

                span {
                    cursor: pointer;
                }
            }
        }
    }

    .filter-btns {
        margin-top: 25px;

        .clear-filters {
            margin-bottom: 30px;
        }
    }
}

.filter-menu-show {
    display: block !important;
}

.sub-menu-show {
    display: flex !important;
}

/* FILTER STYLE END  */