/* section title start */
.section-title {
    margin-bottom: 40px;

    h2 {
        color: var(--Brandcolor_Black);
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        line-height: 52px;
        letter-spacing: -0.26px;
        margin-bottom: 0;
    }

    p {
        color: var(--Brandcolor_Black);
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: -0.26px;
        margin-top: 20px;
    }

    &.white {
        h2 {
            color: var(--white);
        }

        p {
            color: var(--white);
            opacity: 0.8;
        }
    }

    &.text-center {
        text-align: center;

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }
}

.section-padding {
    padding: 50px 0;
}



/* section title end */


/* SWIPER PAGINATION AND NEXT PREV BUTTON STYLES START */
.swiper-slider-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;

    .swiper-button-prev,
    .swiper-button-next {
        &::after {
            display: none;
        }

        position: relative;
        left: unset;
        right: unset;
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        text-align: center;
        transition: all 0.3s ease-in-out;
        z-index: unset;
        border: 1px solid transparent;
        margin-top: unset;

        svg {
            max-width: 14px;
            position: relative;
            z-index: 11;
            opacity: 1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(21, 142, 206, 0.10) 0%, rgba(25, 227, 227, 0.10) 100%);
            transition: all 0.3s ease-in-out;
            visibility: hidden;
            opacity: 0;
            border-radius: 100%;
        }

        &:hover {
            &::before {
                visibility: visible;
                opacity: 1;

            }
        }
    }

    .swiper-button-prev {

        background: linear-gradient(white, white) padding-box,
            linear-gradient(270deg, rgba(22, 142, 206, 0.4) 0%, rgba(25, 227, 227, 0.4) 100%) border-box;

        &:hover {
            background: linear-gradient(white, white) padding-box,
                linear-gradient(270deg, #158ECE 0%, #19E3E3 100%) border-box;
        }
    }

    .swiper-button-next {
        background: linear-gradient(white, white) padding-box,
            linear-gradient(90deg, rgba(22, 142, 206, 0.5) 0%, rgba(25, 227, 227, 0.5) 100%) border-box;

        &:hover {
            background: linear-gradient(white, white) padding-box,
                linear-gradient(90deg, #158ECE 0%, #19E3E3 100%) border-box;
        }
    }

    .swiper-pagination {
        position: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 12px;
        width: auto;

        .swiper-pagination-bullet {
            background: var(--Brandcolor_Black);
            opacity: 0.2;
            width: 4px;
            height: 4px;
            margin: 0 6px;
            transition: all 0.3s ease-in-out;

            &.swiper-pagination-bullet-active {
                position: relative;
                opacity: 1;

                &::before {
                    position: absolute;
                    content: "";
                    width: 16px;
                    height: 16px;
                    border-radius: 16px;
                    border: 0.3px solid rgba(17, 17, 17, 0.2);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

/* SWIPER PAGINATION AND NEXT PREV BUTTON STYLES END */



/* TRANSPARENT BACKGROUND LOGO START */
.main {
    overflow: hidden;
    position: relative;

    .bg-logo {
        position: absolute;
        top: 34%;
        z-index: -1;
    }
}

/* TRANSPARENT BACKGROUND LOGO END */