section.banner-area {
    display: flex;
    align-items: center;

    .hero-wrapper {
        width: 100%;

        .swiper {
            .swiper-slide {
                .wrapper-content {
                    display: flex;
                    align-items: center;
                    position: relative;
                    overflow: hidden;

                    .background {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;


                        .bg-content {
                            width: 100%;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            object-fit: cover;
                            height: 100%;
                        }

                    }

                    .hero-content {
                        width: 100%;
                        position: relative;
                        z-index: 11;

                        h1 {
                            color: var(--white);
                            font-feature-settings: 'liga' off, 'clig' off;
                            font-size: 100px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 120px;
                            letter-spacing: -0.26px;
                        }

                        .text {
                            color: var(--white);
                            font-feature-settings: 'liga' off, 'clig' off;
                            font-family: var(--body-font);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 20px;
                            letter-spacing: -0.26px;
                            margin-top: 20px;
                        }

                        .hero-btns {
                            margin-top: 60px;
                            column-gap: 43px;
                        }
                    }
                }
            }
        }
    }

    &.higher {
        min-height: 1105px;

        .hero-wrapper {

            .swiper {

                .swiper-slide {
                    min-height: 1105px;

                    .wrapper-content {
                        min-height: 1105px;
                        border-radius: 0px 0px 60px 60px;
                        padding-top: 250px;
                        align-items: flex-start;

                        .background {

                            .gradient-overlay {
                                position: absolute;
                                border-radius: 0px 0px 60px 60px;
                                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 86.5%), linear-gradient(282deg, rgba(0, 0, 0, 0.00) 10.87%, rgba(0, 0, 0, 0.95) 53.06%);
                                top: 0;
                                left: 0;
                                right: 0;
                                height: 100%;
                                width: 100%;
                                z-index: 1;

                            }

                            .bg-content {
                                border-radius: 0px 0px 60px 60px;
                                min-height: 1105px;
                            }
                        }

                        .hero-content {
                            padding: 0px 0 100px;

                            h1 {
                                max-width: 715px;
                            }

                            .text {
                                max-width: 650px;
                            }
                        }
                    }

                }
            }
        }
    }

    &.normal {
        min-height: 500px;
        margin-bottom: 40px;

        .hero-wrapper {

            .swiper {

                .swiper-slide {
                    min-height: 500px;

                    .wrapper-content {
                        min-height: 500px;
                        border-radius: 0px 0px 40px 40px;

                        .background {

                            .gradient-overlay {
                                position: absolute;
                                border-radius: 0px 0px 40px 40px;
                                background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), lightgray;
                                top: 0;
                                left: 0;
                                right: 0;
                                height: 100%;
                                width: 100%;
                                z-index: 1;
                            }

                            .bg-content {
                                min-height: 500px;
                                border-radius: 0px 0px 40px 40px;
                            }
                        }

                        .hero-content {
                            padding: 150px 0 100px;

                            h1 {
                                font-size: 56px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 72px;
                                letter-spacing: -0.26px;
                            }
                        }

                    }

                }
            }
        }
    }
}