section.banner-area {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    .hero-wrapper {
        width: 100%;

        .swiper {
            .swiper-slide {
                .wrapper-content {
                    display: flex;
                    align-items: center;
                    position: relative;
                    overflow: hidden;

                    .background {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;


                        .bg-content {
                            width: 100%;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                            object-fit: cover;
                            height: 100%;
                        }

                    }

                    .hero-content {
                        width: 100%;
                        position: relative;
                        z-index: 11;

                        h1 {
                            color: var(--white);
                            font-feature-settings: 'liga' off, 'clig' off;
                            font-size: 100px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 120px;
                            letter-spacing: -0.26px;
                        }

                        .text {
                            color: var(--white);
                            font-feature-settings: 'liga' off, 'clig' off;
                            font-family: var(--body-font);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 20px;
                            letter-spacing: -0.26px;
                            margin-top: 20px;
                        }

                        .hero-btns {
                            margin-top: 60px;
                            column-gap: 43px;
                        }
                    }
                }
            }
        }
    }

    &.higher {
        min-height: 1105px;

        .hero-wrapper {

            .swiper {

                .swiper-slide {
                    min-height: 1105px;

                    .wrapper-content {
                        min-height: 1105px;
                        border-radius: 0px 0px 60px 60px;
                        padding-top: 250px;
                        align-items: flex-start;

                        .background {

                            .gradient-overlay {
                                position: absolute;
                                border-radius: 0px 0px 60px 60px;
                                background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 86.5%), linear-gradient(282deg, rgba(0, 0, 0, 0.00) 10.87%, rgba(0, 0, 0, 0.95) 53.06%);
                                top: 0;
                                left: 0;
                                right: 0;
                                height: 100%;
                                width: 100%;
                                z-index: 1;

                            }

                            .bg-content {
                                border-radius: 0px 0px 60px 60px;
                                min-height: 1105px;
                            }
                        }

                        .hero-content {
                            padding: 0px 0 100px;

                            h1 {
                                max-width: 715px;
                            }

                            .text {
                                max-width: 650px;
                            }

                            .bottom-text-block {
                                margin-top: 120px;
                                padding: 80px 0 0px;
                                border-top: 0.5px solid rgba(255, 255, 255, 0.3);

                                h2 {
                                    color: var(--white);
                                    text-align: center;
                                    font-size: 44px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 52px;
                                    letter-spacing: -0.26px;
                                    max-width: 600px;
                                    margin: auto;
                                }

                                p {
                                    color: var(--white);
                                    text-align: center;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 300;
                                    line-height: 20px;
                                    letter-spacing: -0.26px;
                                    max-width: 700px;
                                    margin: 20px auto 0px;
                                }
                            }
                        }
                    }

                }
            }
        }

        .pagination-btn {
            position: absolute;
            top: 63%;
            z-index: 11;
            left: 50%;
            transform: translate(-50%);

            .swiper-pagination {
                .swiper-pagination-bullet {
                    background: rgba(255, 255, 255, 0.5);

                    &.swiper-pagination-bullet-active {
                        background: rgba(255, 255, 255, 1);

                        &::before {
                            border: .3px solid rgba(255, 255, 255, 0.20);
                        }
                    }
                }
            }
        }
    }

    &.normal {
        min-height: 700px;
        margin-bottom: 40px;

        .col-lg-10 {
            padding-right: calc(var(--bs-gutter-x)* 0.2);
            padding-left: calc(var(--bs-gutter-x)* 0.2);
        }

        .hero-wrapper {

            .swiper {

                .swiper-slide {
                    min-height: 700px;

                    .wrapper-content {
                        min-height: 700px;
                        border-radius: 0px 0px 40px 40px;

                        .background {

                            .gradient-overlay {
                                position: absolute;
                                border-radius: 0px 0px 40px 40px;
                                background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
                                top: 0;
                                left: 0;
                                right: 0;
                                height: 100%;
                                width: 100%;
                                z-index: 1;
                            }

                            .bg-content {
                                min-height: 700px;
                                border-radius: 0px 0px 40px 40px;
                            }
                        }

                        .hero-content {
                            padding: 90px 0 0px;

                            h1 {
                                color: var(--white);
                                text-align: center;
                                font-size: 100px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 120px;
                                letter-spacing: -0.26px;
                            }

                            p {
                                color: var(--white);
                                text-align: center;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 300;
                                line-height: 20px;
                                letter-spacing: -0.26px;
                                margin: 10px auto 0;
                                max-width: 600px;
                            }
                        }

                    }

                }
            }
        }

        .swiper-slider-btns {
            display: none;
        }
    }


    .nex-prev-btn {
        top: calc(50% - 20px);
        position: absolute;
        z-index: 11;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 100px;


        .swiper-button-next,
        .swiper-button-prev {
            border: none;
            background: rgba(255, 255, 255, 0.10);

            &::before {
                display: none;
            }
        }

        .swiper-button-next {

            &:hover {
                background: linear-gradient(rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.10)) padding-box,
                    linear-gradient(90deg, #158ECE 0%, #19E3E3 100%) border-box;
            }
        }

        .swiper-button-prev {

            &:hover {
                background: linear-gradient(rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.10)) padding-box,
                    linear-gradient(270deg, #158ECE 0%, #19E3E3 100%) border-box;
            }
        }
    }
}