/* BREADCRUMB START */
.breadcrumb-section {
    padding: 0 0 50px;

    .breadcrumb-list {
        display: flex;
        align-items: center;
        column-gap: 15px;

        a,
        span {
            color: var(--Brandcolor_Black);
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -0.26px;
            opacity: 0.6;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                background-image: url('./../images/right-arrow-dark.svg');
                width: 6px;
                height: 9px;
                right: -10px;
                top: 6px;
                background-repeat: no-repeat;
            }

            &.current-page {
                opacity: 1;
            }

            &:last-child {
                &::before {
                    display: none;
                }
            }
        }
    }

}

/* BREADCRUMB END */


/* INNOVATION-SUSTAINABILITY START */
section.innovation-sustainablity-section {
    .text-with-bg {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: cover;
        height: 100%;
        padding: 60px 35px;
        border-radius: 40px;
        position: relative;
        display: flex;
        align-items: flex-end;

        &::before {
            content: "";
            position: absolute;
            border-radius: 40px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        .content {
            position: relative;
            z-index: 11;

            h3,
            .title {
                color: var(--white);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .subtitle {
                color: var(--white);
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: -0.26px;
                opacity: 0.8;
                margin-top: 20px;
            }
        }
    }

    .text-details-tab {
        padding: 50px 40px;
        border-radius: 40px;
        background: linear-gradient(90deg, rgba(21, 142, 206, 0.10) 0%, rgba(25, 227, 227, 0.10) 100%);

        .tab-content {

            h3,
            .title {
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: Sora;
                font-size: 44px;
                font-style: normal;
                font-weight: 400;
                line-height: 52px;
                letter-spacing: -0.26px;
                background: var(--New_Gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                font-feature-settings: 'liga' off, 'clig' off;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: -0.26px;
                opacity: 0.8;
                background: var(--New_Gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-top: 20px;
            }
        }

        ul.nav {
            display: flex;
            align-items: center;
            column-gap: 15px;
            margin-top: 30px;

            li {
                &::before {
                    display: none;
                }

                .tab-button {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 18px;
                    padding: 6px 20px 6px 20px;
                    border-radius: 100px;
                    $border: 1px;
                    background: transparent;

                    background-clip: padding-box;
                    border: solid $border rgba(21, 142, 206, 0.3);
                    text-align: center;
                    transition: all 0.3s ease-in-out;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 1px;
                        right: 1px;
                        bottom: 1px;
                        left: 1px;
                        z-index: -1;
                        margin: -$border;
                        /* !importanté */
                        border-radius: inherit;
                        // background: var(--New_Gradient);
                        opacity: 0.4;
                    }

                    span {
                        text-align: center;
                        font-feature-settings: 'liga' off, 'clig' off;
                        font-family: var(--heading-font);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px;
                        background: var(--New_Gradient);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        position: relative;
                        z-index: 11;
                    }


                    &:hover,
                    &.active {
                        background: var(--New_Gradient);
                        border: 1px solid white;

                        span {
                            background: var(--white);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            position: relative;
                            z-index: 11;
                        }

                        .icon {
                            svg {
                                path {
                                    fill: var(--white);
                                }
                            }
                        }

                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

/* INNOVATION-SUSTAINABILITY END */


/* CHARGE ANYTIME SECTION START */
section.charge-anytime {
    .charge-content-wrapp {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        .single-item {
            padding: 15px 17px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            column-gap: 35px;

            &.white-bg {
                background: var(--white);
                box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.10);

                .img {
                    flex-basis: 30px;
                    position: relative;


                    $border: 2px;
                    background: white;
                    background-clip: padding-box;
                    border: solid $border transparent;
                    text-align: center;
                    transition: all 0.3s ease-in-out;
                    z-index: 11;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 1px;
                        right: 1px;
                        bottom: 1px;
                        left: 1px;
                        z-index: -1;
                        margin: -$border;
                        /* !importanté */
                        border-radius: inherit;
                        background: var(--New_Gradient);
                    }

                    img,
                    svg {
                        max-width: 11px;
                        height: 16px;
                        position: relative;
                        z-index: 11;
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        width: 27px;
                        height: 27px;
                        // top: 0px;
                        // left: 0px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: white;
                        border-radius: 100%;
                    }
                }

                .title {
                    background: var(--New_Gradient);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .subtitle,
                p {
                    background: var(--New_Gradient);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            &.blue-bg {
                background: var(--New_Gradient);

                .img {
                    border: 1px solid var(--white);
                    border-radius: 100px;
                    width: 30px;
                    height: 30px;
                    display: inline-flex;

                    svg {
                        path {
                            fill: var(--white);
                        }
                    }
                }

                .title {
                    color: #FFF;
                }

                .subtitle,
                p {
                    color: #FFF;
                }

            }

            .img {
                flex-basis: 30px;

                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                width: 30px;
                height: 30px;

                img {
                    max-width: 11px;
                    height: 16px;
                    position: relative;
                    z-index: 11;
                }
            }

            .content {
                flex-basis: calc(100% - 65px);
            }

            .title {
                font-family: var(--body-font);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: -0.26px;
            }

            .subtitle,
            p {
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: -0.26px;
                margin-top: 10px;
            }
        }
    }
}

/* CHARGE ANYTIME SECTION END */

/* MOBILITY AND ITS ADVANTAGE SECTION START */
section.mobility-and-advantage {
    .section-title {
        max-width: 650px;
        text-align: center;
        margin: 0 auto 60px;
    }

    .items-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 50px;
        row-gap: 50px;

    }

    .single-item {
        border-radius: 20px;
        background: #FFF;
        box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.10);
        max-width: 220px;
        height: auto;
        padding: 37px 25px;
        text-align: center;
        width: 100%;

        .icon {
            display: flex;
            width: 60px;
            height: 60px;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background: var(--New_Gradient);
            box-shadow: -3px 3px 20px 0px rgba(25, 227, 227, 0.60);
            margin: auto;
        }

        .title {
            font-feature-settings: 'liga' off, 'clig' off;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            background: var(--New_Gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 20px auto 0;
            max-width: 80%;
        }

        .subtitle {
            color: var(--Brandcolor_Black);
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: var(--body-font);
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -0.26px;
            opacity: 0.8;
            margin-top: 8px;
        }
    }

    .mobile-version {
        display: none;
    }

    &.private {
        .section-title {
            max-width: 810px;
        }
    }
}

/* MOBILITY AND ITS ADVANTAGE SECTION END */


/* PRICING SECTION START */
section.pricing-area {
    .section-title {
        margin-bottom: 30px;
    }

    .row {
        align-items: flex-end;
    }

    .text-content {
        display: flex;
        padding: 35px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 20px;
        background: linear-gradient(90deg, rgba(21, 142, 206, 0.10) 0%, rgba(25, 227, 227, 0.10) 100%);

        .title-part {
            margin-bottom: 15px;
        }

        h3 {
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            background: var(--New_Gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            max-width: 420px;
        }

        p {
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -0.26px;
            opacity: 0.8;
            background: var(--New_Gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 8px;
        }

        .single-sec {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            .title {
                display: flex;
                align-items: center;
                column-gap: 18px;

                span {

                    font-feature-settings: 'liga' off, 'clig' off;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: -0.26px;
                    opacity: 0.8;
                    background: var(--New_Gradient);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            ul {
                margin-bottom: 15px;
            }

            small {
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: var(--body-font);
                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: 14px;
                letter-spacing: -0.26px;
                opacity: 0.8;
                background: var(--New_Gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: block;
                margin-top: 8px;
            }
        }
    }
}

/* PRICING SECTION END */


/* CARD COLLAPSE SECTION START */
section.card-collapse-area {
    padding: 0px 0 80px;

    .accordion-item {
        border-radius: 40px !important;
        background: var(--white);
        box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.10);
        padding: 40px 75px;

        .accordion-header {
            min-height: 200px;
        }

        .accordion-button {
            padding: 0;

            span {
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background: var(--New_Gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                // min-height: 160px;
            }

            .card-image {
                position: absolute;
                top: 70px;

                img {
                    max-width: 100%;
                }
            }
        }

        .accordion-body {
            margin-top: 100px;
            padding: 0 28px;

            .title {
                font-feature-settings: 'liga' off, 'clig' off;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                background: var(--New_Gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                opacity: 1;
            }

            .info-option {
                padding-left: 0;
                margin-top: 20px;

                li {
                    opacity: 1;
                    background: unset;
                    background-clip: unset;
                    -webkit-background-clip: unset;
                    -webkit-text-fill-color: unset;

                    display: flex;
                    align-items: center;
                    column-gap: 18px;
                    margin-bottom: 15px;

                    &::before {
                        display: none;
                    }

                    p {
                        color: var(--Brandcolor_Black);
                        font-feature-settings: 'liga' off, 'clig' off;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 20px;
                        letter-spacing: -0.26px;
                        opacity: 1;
                    }
                }
            }

            .view-btn {
                margin-top: 30px;
                text-align: center;
            }
        }

    }

    .accordion-item:last-of-type .accordion-button.collapsed,
    .accordion-item:first-of-type .accordion-button {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

/* CARD COLLAPSE SECTION END */


/* DIGITAL EXPERIENCE SECTION START */
section.digital-experience-section {
    .section-title {
        text-align: center;

        h2 {
            max-width: 600px;
            margin: 0px auto 0;
        }

        p {
            max-width: 800px;
            margin: 20px auto 0;
        }
    }

    .experience-wrapper {
        padding: 40px 70px;
        border-radius: 40px;
        background: var(--white);
        box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.10);

        h3 {
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            background: var(--New_Gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 20px;
        }

        .expereince-medai {
            .media {
                width: 100%;
                border-radius: 20px;
                box-shadow: 0px 15px 45px 0px rgba(0, 0, 0, 0.10);
                margin-bottom: 30px;
            }
        }

        h4 {
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: var(--body-font);
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -0.26px;
            background: var(--New_Gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 30px;
        }

        .single-sec {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            .title {
                display: flex;
                align-items: center;
                column-gap: 18px;
                margin-bottom: 5px;

                h5 {
                    color: var(--Brandcolor_Black);
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-family: var(--body-font);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: -0.26px;
                    opacity: 0.8;
                }
            }

            p {
                color: var(--Brandcolor_Black);
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: -0.26px;
                opacity: 0.8;
            }

            ul {
                margin-bottom: 15px;
            }

            small {
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: var(--body-font);
                font-size: 12px;
                font-style: normal;
                font-weight: 300;
                line-height: 14px;
                letter-spacing: -0.26px;
                opacity: 0.8;
                background: var(--New_Gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: block;
                margin-top: 8px;
            }
        }
    }
}

/* DIGITAL EXPERIENCE SECTION END */

/* LISTING AREA START */
.lising-area {
    padding-top: 40px;
    padding-bottom: 50px;

    .row-gaps {
        row-gap: 55px;
    }

    .col-lg-4.col-md-6 {
        height: auto;

        .single-blog-card {
            height: 100%;
        }
    }

    .load-more {
        margin-top: 60px;
        text-align: center;
    }
}


/* LISTING AREA END */

/* Filter Option Select2 Styles Start */
.filtering-options {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    column-gap: 40px;
    flex-wrap: wrap;
    row-gap: 40px;

    select.select2-activate {
        min-width: 345px;
        height: 34px;
    }

    .select2-container--default {
        &.select2-container--open {
            .select2-selection--single {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: 17px;
                border-top-right-radius: 17px;
                border-bottom: 1px solid transparent;

                span.select2-selection__arrow {
                    &::before {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
            }
        }

        .select2-selection--single {
            border-radius: 100px;
            background: var(--white);
            box-shadow: -4px 4px 15px 0px rgba(0, 0, 0, 0.10);
            height: 34px;
            min-width: 345px;
            border: none;

            span.select2-selection__rendered {
                padding: 9px 20px 8px;
                font-feature-settings: 'liga' off, 'clig' off;
                font-family: var(--heading-font);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background: var(--New_Gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            span.select2-selection__arrow {
                top: 3px;

                &::before {
                    content: "";
                    position: absolute;
                    background-image: url("../images/select-arrow.svg");
                    width: 16px;
                    height: 16px;
                    border-radius: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 10px;
                    transition: all 0.3s ease-in-out;
                    background-size: 9px 9px;
                }

                b {

                    display: none;

                }
            }
        }
    }


}

.select2-container--open .select2-dropdown--below {
    border: none;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}

.select2-dropdown {
    box-shadow: -4px 4px 15px 0px rgba(0, 0, 0, .1);
}

.select2-container.select2-container--default.select2-container--open {
    ul.select2-results__options {

        .select2-results__option {
            &.select2-results__option--disabled {
                display: none;
            }

            font-feature-settings: 'liga' off,
            'clig' off;
            font-family: var(--heading-font);
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            background: var(--New_Gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


            padding: 5px 10px 5px 30px;
            transition: all 0.3s ease-in-out;

            &::before {
                left: 14px;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                border: 0.5px solid var(--Newcolor_Neon);
                background: transparent;
                transition: all 0.3s ease-in-out;
            }

            &:hover,
            &.select2-results__option--highlighted {
                background: var(--New_Gradient);
                color: var(--white);
                background-clip: unset;
                -webkit-background-clip: unset;
                -webkit-text-fill-color: unset;

                &::before {
                    border: 0.5px solid var(--white);
                }
            }
        }
    }
}

/* Filter Option Select2 Styles End */

/* BLOG DETAILS START */
section.blog-details {
    .wrapper {
        h2 {
            color: var(--Brandcolor_Black);
            font-size: 44px;
            font-style: normal;
            font-weight: 400;
            line-height: 52px;
            letter-spacing: -0.26px;
            padding-bottom: 15px;
            margin: auto;
            max-width: 1030px;
        }

        p {
            color: var(--Brandcolor_Black);
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 20px;
            opacity: 0.8;
            letter-spacing: -0.26px;
            opacity: 0.8;
            margin: 15px auto 0;
            max-width: 1030px;
        }

        img {
            width: 100%;
            max-height: 515px;
            object-fit: cover;
            border-radius: 40px;
            margin: 100px 0 70px;
        }
    }
}

/* BLOG DETAILS END */

/* RELATED BLOG SECTION START */
section.related-blog-section {
    position: relative;

    .section-title {
        margin-bottom: 40px;
    }

    .related-blog-row {
        row-gap: 20px;
    }

    .col-lg-4.col-md-6 {
        height: auto;

        .single-blog-card {
            height: 100%;
        }
    }

    .bg-shape-img {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: -1;
    }
}

/* RELATED BLOG SECTION END */

/* CONTACT PAGE START */
section.contact-page {
    ul.nav {
        column-gap: 60px;
        margin-top: 0;
        max-width: 470px;
        margin: auto;

        li {
            background: unset;
            background-clip: unset;
            -webkit-background-clip: unset;
            -webkit-text-fill-color: unset;
            opacity: 1;
            margin-bottom: 0;

            &::before {
                display: none;
            }

            .button.white {
                &.active {
                    .btn-text {
                        background: unset;
                        background-clip: unset;
                        -webkit-background-clip: unset;
                        -webkit-text-fill-color: unset;
                        color: var(--white);
                    }

                    .icon {
                        border: 0.5px solid rgba(255, 255, 255, 0.50);

                        &::after {
                            opacity: 0;
                            background: linear-gradient(-90deg, #158ECE 0%, #19E3E3 100%);

                        }

                        &::before {
                            background: rgba(255, 255, 255, 0);
                            background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2210%22 height%3D%2213%22 viewBox%3D%220 0 10 13%22 fill%3D%22none%22%3E%3Cpath d%3D%22M0.845182 7.27606L4.83526 0.80216C5.17022 0.258692 6.00779 0.496072 6.00779 1.13447V4.12492C6.00779 4.47471 6.29135 4.75827 6.64115 4.75827H8.616C9.11168 4.75827 9.41525 5.30197 9.15518 5.72394L5.1651 12.1978C4.83014 12.7413 3.99257 12.5039 3.99257 11.8655V8.87508C3.99257 8.52529 3.709 8.24173 3.35921 8.24173H1.38436C0.888674 8.24173 0.585106 7.69803 0.845182 7.27606Z%22 fill%3D%22%23FFFFFF%22/%3E%3C/svg%3E');
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }

                    &:hover {
                        .icon {
                            background: transparent;
                        }
                    }

                    &::after {
                        opacity: 0;
                    }
                }


            }
        }
    }

    .contact-form-wrapper {
        margin-top: 60px;
        padding: 80px 105px;
        border-radius: 60px;
        background: linear-gradient(90deg, rgba(21, 142, 206, 0.10) 0%, rgba(25, 227, 227, 0.10) 100%);

        .section-title {
            h2 {
                text-align: center;
                font-size: 44px;
                font-style: normal;
                font-weight: 400;
                line-height: 52px;
                letter-spacing: -0.26px;
                background: var(--New_Gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                max-width: 590px;
                margin: auto;
            }

            p {
                max-width: 665px;
                margin: 20px auto 0;
            }
        }
    }
}


/* CONTACT PAGE END */


/* GOCHARGE CONTACT START */
section.gocharge-contact-section {
    padding: 50px 0 30px;

    .address-wrapper {
        h2 {
            color: var(--Brandcolor_Black);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;

            .single-item {
                display: flex;
                column-gap: 10px;

                .icon {
                    line-height: 1px;
                    height: 12px;
                    margin-top: 5px;
                }

                a {
                    color: var(--Brandcolor_Black);
                    font-feature-settings: 'liga' off, 'clig' off;
                    font-family: var(--body-font);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 20px;
                    letter-spacing: -0.26px
                }

                &.address-item {
                    max-width: 300px;

                    .address {
                        color: var(--Brandcolor_Black);
                        font-feature-settings: 'liga' off, 'clig' off;
                        font-family: var(--body-font);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 20px;
                        letter-spacing: -0.26px;
                    }
                }
            }
        }
    }
}

/* GOCHARGE CONTACT END */